* {
  padding: 0;
  margin: 0;
}

body {
  color: white;
  background-color: #161627;
}

.navbar {
  display: flex;
  padding: 30px;
}

.right-nav {
  display: flex;
  list-style: none;
  margin-left: auto;
  justify-content: space-between;
}

.nav-item {
  margin-left: 25px;
  cursor: pointer;
}

.nav-item:hover {
  color: blueviolet;
}
#logo:hover {
  color: blueviolet;
}

.dark-mode {
  background-color: white;
  color: #161627;
}

.body_items {
  width: 90%;
  overflow-y: auto;
  flex-direction: column;
  display: flex;
  align-items: center;
  margin: 70px;
}

.Home_section {
  width: 60em;
  display: flex;
  margin: 60px;
}

.name {
  font-size: 50px;
}
.qulification {
  font-size: 25px;
}

.discription {
  font-size: large;
}

.profile_photo img {
  width: 250px;
  border-radius: 60%;
}
.social_links {
  align-self: center;
  padding: 85px;
}
.linkedin {
  padding-bottom: 10px;
}

.about_section {
  position: fixed;
  left: 45%;
  /* padding-top: 100px; */
}

.projects_cont {
  display: flex;
  width: 90%;
  margin: 20px;
}

.project1 {
  width: 60%;
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid;
  margin: 20px;
}

.skills_section {
  display: flex;
  max-width: 22rem;
  width: 100%;
  margin: 20px;
  /* border: 2px solid; */
}

.skill {
  border: 1px solid;
  padding: 10px;
  margin: 10px;
}

.Email {
  font-size: 20px;
  text-decoration: none;
  border: 2px solid;
  padding: 15px;
}

.footer {
  padding: 2em;
  margin-top: 3em;
}
